<div class="header-holder">
    <div id="headerAreaHolder" data-bi-name="header">
        <section id="headerArea" data-m="{&quot;cN&quot;:&quot;headerArea&quot;,&quot;cT&quot;:&quot;Area_coreuiArea&quot;,&quot;id&quot;:&quot;a1Body&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;Body&quot;}">
            <div id="headerRegion" data-region-key="headerregion" data-m="{&quot;cN&quot;:&quot;headerRegion&quot;,&quot;cT&quot;:&quot;Region_coreui-region&quot;,&quot;id&quot;:&quot;r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;a1&quot;}">

                <div id="headerUniversalHeader" data-m="{&quot;cN&quot;:&quot;headerUniversalHeader&quot;,&quot;cT&quot;:&quot;Module_coreui-universalheader&quot;,&quot;id&quot;:&quot;m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;r1a1&quot;}"
                    data-module-id="Category|headerRegion|headerRegion|headerUniversalHeader|coreui-universalheader">

                  <a id="uhfSkipToMain" class="m-skip-to-main" href="#main" tabindex="0" style="z-index:3000002"
                        data-m="{&quot;cN&quot;:&quot;Skip to content_nonnav&quot;,&quot;id&quot;:&quot;nn1m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;m1r1a1&quot;}">Skip
                        to main content</a>


                    <header role="banner" class="c-uhfh context-uhf c-sgl-stck c-category-header" itemscope="itemscope"
                        data-header-footprint="/MSDocs/MSDocsHeader-AdaptiveCards" data-ckrate="1" data-magict="true"
                        itemtype="http://schema.org/Organization">
                        <div class="theme-light js-global-head f-closed  global-head-cont" data-m="{&quot;cN&quot;:&quot;Universal Header_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;m1r1a1&quot;}">
                            <div class="c-uhfh-gcontainer-st">
                                <button type="button" class="c-action-trigger c-glyph glyph-global-nav-button"
                                    aria-label="Header navigation menu" aria-expanded="false" data-m="{&quot;cN&quot;:&quot;Mobile menu button_nonnav&quot;,&quot;id&quot;:&quot;nn1c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                <button type="button" class="c-action-trigger c-glyph glyph-arrow-htmllegacy"
                                    aria-label="Close search" aria-expanded="false" data-m="{&quot;cN&quot;:&quot;Close Search_nonnav&quot;,&quot;id&quot;:&quot;nn2c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                <a id="uhfLogo" class="c-sgl-stk-uhfLogo" style="display: flex; align-items: center; justify-content: center" itemprop="url" href="/"
                                    aria-label="Microsoft">
                                    <img alt="" itemprop="logo" itemscope="itemscope" class="platform-logo" src="<%- url_for('content/digital-platform.svg') %>"
                                        role="presentation">
                                </a>
                                <div class="f-mobile-title">
                                    <button type="button" class="c-action-trigger c-glyph glyph-chevron-left"
                                        aria-label="See more menu options" data-m="{&quot;cN&quot;:&quot;Mobile back button_nonnav&quot;,&quot;id&quot;:&quot;nn4c2m1r1a1&quot;,&quot;sN&quot;:4,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                    <span data-global-title="Microsoft home" class="js-mobile-title">Adaptive Cards</span>
                                    <button type="button" class="c-action-trigger c-glyph glyph-chevron-right"
                                        aria-label="See more menu options" data-m="{&quot;cN&quot;:&quot;Mobile forward button_nonnav&quot;,&quot;id&quot;:&quot;nn5c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c2m1r1a1&quot;}"></button>
                                </div>
                                <div class="c-show-pipe x-hidden-vp-mobile-st">
                                    <a id="uhfCatLogo" class="c-logo c-cat-logo" href="/"
                                        aria-label="Adaptive Cards" itemprop="url" data-m="{&quot;cN&quot;:&quot;CatNav_Adaptive Cards_nav&quot;,&quot;id&quot;:&quot;n6c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                        <span>Digital Platform</span>
                                    </a>
                                </div>
                                <div class="cat-logo-button-cont x-hidden">
                                    <button type="button" id="uhfCatLogoButton" class="c-cat-logo-button x-hidden"
                                        aria-expanded="false" aria-label="Adaptive Cards" data-m="{&quot;cN&quot;:&quot;Adaptive Cards_nonnav&quot;,&quot;id&quot;:&quot;nn7c2m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                        Digital Platform
                                    </button>
                                </div>



                                <nav id="uhf-g-nav" class="c-uhfh-gnav" role="presentation" data-m="{&quot;cN&quot;:&quot;Category nav_cont&quot;,&quot;cT&quot;:&quot;Container&quot;,&quot;id&quot;:&quot;c8c2m1r1a1&quot;,&quot;sN&quot;:8,&quot;aN&quot;:&quot;c2m1r1a1&quot;}">
                                    <ul class="js-paddle-items">
                                        <li class="single-link js-nav-menu x-hidden-none-mobile-vp">
                                            <a class="c-uhf-nav-link" href="<%- url_for('/') %>" data-m="{&quot;cN&quot;:&quot;CatNav_Home_nav&quot;,&quot;id&quot;:&quot;n1c8c2m1r1a1&quot;,&quot;sN&quot;:1,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">
                                                Home </a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_1" class="c-uhf-nav-link" href="<%- url_for('explorer') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Schema Explorer_nav&quot;,&quot;id&quot;:&quot;n3c8c2m1r1a1&quot;,&quot;sN&quot;:3,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Schema Explorer</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_3" class="c-uhf-nav-link" href="<%- url_for('samples') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Samples_nav&quot;,&quot;id&quot;:&quot;n5c8c2m1r1a1&quot;,&quot;sN&quot;:5,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Samples</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_5" class="c-uhf-nav-link" href="<%- url_for('designer') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Designer_nav&quot;,&quot;id&quot;:&quot;n6c8c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Designer</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_4" class="c-uhf-nav-link" href="<%- url_for('blog') %>"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Blog_nav&quot;,&quot;id&quot;:&quot;n6c8c2m1r1a1&quot;,&quot;sN&quot;:6,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Blog</a>
                                        </li>
                                        <li class="single-link js-nav-menu">
                                            <a id="c-shellmenu_0" class="c-uhf-nav-link" href="https://docs.see.asseco.com/platform/"
                                                data-m="{&quot;cN&quot;:&quot;CatNav_Documentation_nav&quot;,&quot;id&quot;:&quot;n2c8c2m1r1a1&quot;,&quot;sN&quot;:2,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}">Documentation</a>
                                        </li>
                                        <li id="overflow-menu" class="overflow-menu x-hidden">
                                            <div class="c-uhf-menu js-nav-menu">
                                                <button data-m="{&quot;pid&quot;:&quot;More&quot;,&quot;id&quot;:&quot;nn7c8c2m1r1a1&quot;,&quot;sN&quot;:7,&quot;aN&quot;:&quot;c8c2m1r1a1&quot;}"
                                                    type="button" aria-label="More" aria-expanded="false" style="white-space:nowrap">More</button>
                                                <ul id="overflow-menu-list" aria-hidden="true" class="overflow-menu-list">
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </nav> 
                            </div>
                        </div>
                    </header>
                </div>
            </div>
        </section>
</div>

    <% if(!is_current('/') && !page.hideBreadcrumb) { /* no breadcrumb on home page */ %>
    <div class="content-header uhf-container has-padding" data-bi-name="content-header">
		<ul class="breadcrumbs" data-bi-name="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList" 
		 aria-label="Breadcrumb">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="mobile-breadcrumb">
               <a itemprop="item" href="<%- url_for('/') %>">Adaptive Cards</a>
            </li>			
			<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><span itemprop="name"><%= page.title %></span></li>


        </ul>
        <div class="content-header-controls exit-focus">
            <button type="button" class="ap-collapse-behavior ap-expanded button-border" data-bi-name="ap-collapse">
                <span class="docon docon-exit-mode"></span>
                Exit focus mode </button>

        </div>
        <div class="content-header-controls">
            <button type="button" class="contents-button button-border" data-bi-name="contents-expand">
                <span class="docon docon-menu"></span>
                Contents </button>
        </div>
        <div class="action-bar">
            <ul class="action-list">
                <li>
                    <a role="button" id="feedback-button" class="button" data-bi-name="feedback" tabindex="0" focusable="true">
                        <span class="docon docon-comment-lines" aria-hidden="true"></span> <span class="action-item-text">Feedback</span>
                    </a>
                </li>
                <li>
					<a href="https://github.com/asseco-see/adaptive-ui/" class="button" data-bi-name="comments">
						
                        <span class="fab fa-github" aria-hidden="true"></span> <span class="action-item-text">GitHub</span>
                    </a>
                </li>

                <!--<li>
                    <div class="sharing dropdown has-caret" auto-align="">
                        <a href="#" class="dropdown-trigger" aria-haspopup="true" aria-controls="sharing-menu"
                            aria-expanded="false" title="Share This Document" data-bi-name="share">
                            <span class="docon docon-sharing" aria-hidden="true"></span><span class="action-item-text">Share</span>
                        </a>
                        <div class="dropdown-menu" id="sharing-menu" role="menu">
                            <ul data-bi-name="share-links">
                                <li><a class="share-twitter" data-bi-name="twitter" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dtwitter&amp;text=Adaptive%20Cards%20Overview%20-%20Adaptive%20Cards%20%7C%20Microsoft%20Docs&amp;tw_p=tweetbutton&amp;url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dtwitter"><span
                                            class="docon docon-brand-twitter" aria-hidden="true"></span>Twitter</a></li>
                                <li><a class="share-linkedin" data-bi-name="linkedin" href="https://www.linkedin.com/cws/share?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dlinkedin"><span
                                            class="docon docon-brand-linkedin" aria-hidden="true"></span>LinkedIn</a></li>
                                <li><a class="share-facebook" data-bi-name="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Dfacebook"><span
                                            class="docon docon-brand-facebook" aria-hidden="true"></span>Facebook</a></li>
                                <li><a class="share-email" data-bi-name="email" href="mailto:?subject=%5BShared%20Article%5D%20Adaptive%20Cards%20Overview%20-%20Adaptive%20Cards%20%7C%20Microsoft%20Docs&amp;body=Adaptive%20Cards%20Overview%20-%20Adaptive%20Cards%20%7C%20Microsoft%20Docs%0A%0Ahttps%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fadaptive-cards%2F%3FWT.mc_id%3Demail"><span
                                            class="docon docon-mail-message-fill" aria-hidden="true"></span>Email</a></li>
                            </ul>
                        </div>
                    </div>
                </li>-->
            </ul>
            <button type="button" class="contents-button" aria-label="Contents" data-bi-name="contents-expand-">
                <span class="docon docon-editor-list-bullet"></span><span>Contents</span>
            </button>
        </div>
    </div>
    <div id="disclaimer-holder" class="disclaimer-holder"></div>
    <% } %>
</div>